<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
</head>
<body>
Hii my name is {{name}} and i am from {{place}}, thanku!
<form action="/analize" method="get">
    <textarea name="text"  style="margin: 0px; width: 711px; height: 141px;"></textarea>
   <input type="checkbox" name="remove_punct">Remove Punchuation<br>
   <input type="checkbox" name="char_count">char count<br>
   <input type="checkbox" name="upper">Get Upper Case<br>
    <button type="submit">Submit</button>
</form>
</body>
</html>